body {
  background-image: url(../images/hangmans1.jpg);
  background-image: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Nanum Brush Script', cursive;
}

.jumbotron, .panel-title, .panel-body{
  text-align: center;
}
/* h1 {
  font-size: 30px;
}

.jumbotron {
  font-size: 50px;
}

.panel-title {
  font-size: 40px;
} */