body {
  background-image: url("https://smolvera.github.io/Hangman-Game/assets/images/Hangmans1.jpg");
  /* background-image: url("../images/hangmans1.jpg"); */
  background-image: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Nanum Brush Script', cursive;
}

.jumbotron, .panel-title, .panel-body{
  text-align: center;
  background-color: silver;
  color: white;
  font-size: 36px;
}

